# dependencies installed by npm
/node_modules

# build artefacts
/dist
/src/images/instagram

# secrets and errors
.env
/yarn-error.log

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Local Netlify folder
.netlify

