:root {
  --accent-color: #d53cd5;
  --trim-color: #00a395;
  --tint-color: #f0f7fa;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--trim-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.7;
  border-top: solid 6px var(--trim-color);
  border-bottom: solid 6px var(--trim-color);
  background-color: #fff;
}

header,
main,
footer {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem 2rem;
}
footer {
  font-size:0.8rem;
  padding-bottom:4rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tint {
  background-color: var(--tint-color);
}

h1 {
  font-size: 3rem;
}
h1, h2, h3 {
  margin:0;
  padding: 1rem 0;
  line-height: 1.2;
}

a:link,
a:visited {
  color: var(--trim-color);
}
a:hover,
a:focus {
  color: var(--accent-color);
}

.thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.thumbnails div {
  width: 100px;
  margin: 0.5em;
}
.thumbnails img {
  width: 100%;
  box-shadow: 0 0 5px 5px var(--tint-color);
}
.thumbnails a {
  margin-top: 0;
  font-size: 0.8rem;
}
.thumbnails a:hover img, {
.thumbnails a:focus img {
  box-shadow:none;
}


.netliheart {
  margin-bottom:-0.1rem;
  width: 1rem;

}
